body {
  margin: 0;
  font-family: "Product Sans", 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-variant-ligatures: no-common-ligatures;
}

code {
  font-family: 'Roboto Mono', monospace;
}

img {
  object-fit: cover;
  -o-object-fit: cover;
}

.hover-card {
  backdrop-filter: brightness(.3) saturate(.5);
  opacity: 0;
  transition: opacity .5s;
}

.hover-card:hover {
  opacity: 1;
  transition: opacity .5s;
}

.hover-text {
  opacity: 0;
  transition: opacity .5s;
}

.hover-text:hover {
  opacity: 1;
  transition: opacity .5s;
}

a:not(.ms-Nav-link) {
  color: #86898b;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all .24s;
}

a:not(.ms-Nav-link):active {
  color: #2b2d2e;
  text-decoration: none;
  border-bottom: 2px solid #2b2d2e;
  transition: all .3s;
}

a:not(.ms-Nav-link):hover {
  color: #a9b1b4;
  text-decoration: none;
  border-bottom: 2px solid #a9b1b4;
  transition: all .24s;
}

.publication-link::after {
  content: ' -->';
  font-weight: 900;
  font-family: 'inter';
}

.urpr-markdown>p {
  line-height: 1.5
}

.urpr-markdown img {
  width: 100%;
  height: auto;
  margin: 0 auto
}

.ms-Nav-link {
  padding-left: 20px;
}

.console-entry:hover {
  opacity: 1;
}

.console-entry {
  opacity: .8;
}

.ms-Pivot-link::before,.ms-Pivot-link::after {
  display: none;
}

.ms-GroupHeader-title{
  font-variant-ligatures: no-common-ligatures;
}